@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

h1 {
    text-align: center;
    margin-bottom: 50px;
}

h1 span {
   font-weight: 900;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.game-area {
    border: solid black;
    border-width: 0 2px 3px 3px;
    display: block;
}